NODE_ENV=development
PORT=3000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/rentados?retryWrites=true&w=majority
JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:5174

# Render / producción
RUN_DB_SYNC=false
DEPLOY_KEY=genera-un-secreto-largo-para-sync-remoto
